.header {
  .text-regular;
  background-color: @base-color;
}

  .header__logo--tablet,
  .header__logo--desktop {
    display: none;
  }

.header__anchor {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 65px;
  border-bottom: 1px solid @border;
}

.header__logo {
  padding-left: 20px;
  height: 38px;
}

.header__navigation {
  min-height: 198px;
}

.header__list {
  .list-reset;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 65px;
  border-bottom: 1px solid @border;
}

.header__nav-item a {
  text-decoration: none;
  color: inherit;
  font-family: @font-family-r;
  font-size: 20px;
  line-height: 20px;
}

.header__button {
  display: none;
}

@media (min-width: @tablet-width) {
  header {
    display: flex;
  }

  .header__logo--desktop,
  .header__logo--mobile {
    display: none;
  }

  .header__navigation {
    min-height: 75px;
    flex-grow: 1;
  }

  .header__list {
    flex-direction: row;
    justify-content: space-around;
  }

  .header__anchor {
    margin-right: 96px;
  }

  .header__anchor,
  .header__nav-item {
    border: 0;
  }
}

@media (min-width: @desktop-width) {
  body {
    position: relative;
    width: 1200px;
    margin: 0 auto;
  }

  .header {
    position: relative;
    z-index: 2;
    background: transparent;
  }

  .header__anchor {
    width: 50%;
  }

  .header__navigation {
    width: 50%;
  }

  .header__logo--mobile,
  .header__logo--tablet {
    display: none;
  }

  .header__logo--desktop {
    display: block;
    min-width: 202px;
    min-height: 59px;
    padding-top: 54px;
    padding-left: 110px;
  }


}