.header {
  .text-regular;
  border-bottom: 1px solid @border;
  background-color: @base-color;
  background-image: url(../img/logo-mobile.svg);
  background-repeat: no-repeat;

  &__list {
    list-style: none;
  }
  &__nav-item a {
    text-decoration: none;
    color: inherit;
  }
}
