.main {
  background-color: @base-color;
}

.how-it-works {
  width: 280px;
}

.how-it-works__heading2 {
  .text-regular;
  color: @dark-color;
  line-height: 60px;
  font-size: 36px;
  }

.how-it-works__list {
  list-style: none;
  }

.how-it-works__item {
  display: inline-block;
  margin-bottom: 20px;
  }

.how-it-works__text {
  position: relative;
  display: inline-block;
  padding-left: 70px;
  font-family: @font-family-ar;
  color: #444444;
  line-height: 18px;
  font-size: 14px;
  }

.text-1::before,
.text-2::before,
.text-3::before,
.text-4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background-color: #68b738;
}

.text-1::before {
  background-image: url(../img/advantage-leaf@1x.png);
}

.text-2::before {
  background-image: url(../img/advantage-powder@1x.png);
}

.text-3::before {
  background-image: url(../img/advantage-dining@1x.png);
}

.text-4::before {
  background-image: url(../img/advantage-clock@1x.png);
}

.example-cat {
  width: 320px;
  background-color: @color-grey;
}

.example-cat__heading2 {
  .text-regular;
  font-size: 36px;
  line-height: 60px;
  color: @dark-color;
}

.example-cat__text {
  font-family: @font-family-ar;
  color: #444444;
  line-height: 18px;
  font-size: 14px;
}

.example-cat__data {
  .text-regular;
  font-size: 24px;
  line-height: 24px;
  color: @dark-color;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-bottom: none;
  width: 124px;
  height: 56px;
}

.example-cat__data-result {
  font-family: @font-family-ar;
  color: #444444;
  line-height: 12px;
  font-size: 12px;
  letter-spacing: 0;
}

.example-cat__data-heading {
  .text-regular;
  font-size: 14px;
  line-height: 20px;
  color: @dark-color;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0;
}

.example-cat__fragment {
  .text-regular;
  font-size: 16px;
  line-height: 20px;
  color: @dark-color;
  text-transform: uppercase;
  letter-spacing: 0;
}
