.presentation-block {
  background-image: url(../img/index-background-mobile@1x.jpg);
  background-repeat: no-repeat;
}

.presentation-block__heading1 {
  .text-regular;
  color: @base-color;
  line-height: 36px;
  font-size: 36px;
}

.presentation-block__paragraph {
  .text-regular;
  color: @base-color;
  line-height: 14px;
  font-size: 14px;
  text-transform: uppercase;
}

.presentation-block__button {
  .action-btn-mobile;
  .action-btn-mbl-text;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
}