.socials {
  list-style: none;
  border-top: 2px solid #eaeaea;
  border-bottom: 2px solid #eaeaea;
  &__anchor p {
    display: inline-block;
  }
  &__item {
    position: relative;
    padding-left: 50px;
  }
}

.vk::before {
  content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(img/icon-vk-mobile.svg);
  }

.inst::before {
  content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(img/icon-insta-mobile.svg);
  }

.fb::before {
  content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(img/icon-fb.svg);
  }