.text-regular() {
  font-family: @font-family-r;
  font-weight: @oswald-r;
  letter-spacing: 0;
  font-style: normal;
}

.action-btn-mobile() {
  background-color: #68b738;
  display: inline-block;
  text-align: center;
  width: 280px;
  min-height: 40px;
}

.action-btn-mbl-text() {
  font-family: @font-family-r;
  font-weight: @oswald-r;
  letter-spacing: 0;
  font-style: normal;
  color: @base-color;
  line-height: 18px;
  font-size: 14px;
  text-transform: uppercase;
}
